In [ ]:
from selenium import webdriver
from selenium.webdriver.support.select import Select
from selenium.webdriver import ActionChains
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.wait import WebDriverWait
import random
import time
from selenium.webdriver.common.keys import Keys
import pandas as pd
import requests
import bs4

In [30]:
def extract_historical_data(driver):
    data_div = driver.find_element_by_css_selector('.table')
    head =[t.text for t in data_div.find_elements_by_tag_name('th')]
    #print(head)
    contentlist = []
    for t in data_div.find_elements_by_tag_name('tr'):
        row_list = []
        for r in t.find_elements_by_tag_name('td'):
            row_list.append(r.text)
        #row_list_t = tuple(row_list)
        contentlist.append(row_list)
    #print(contentlist)
    DF = pd.DataFrame.from_records(contentlist, columns=head)
    return DF

In [31]:
driver = webdriver.Firefox(executable_path='geckodriver.exe')
driver.get('https://coinmarketcap.com/')
bitcoin_bar = WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.CSS_SELECTOR, 'currency-name-container')))
bitcoin_bar.click()
normal_delay = random.normalvariate(3, 0.5)
time.sleep(normal_delay)
his_info = driver.find_element_by_xpath('/html/body/div[4]/div/div[1]/div[5]/div[1]/ul/li[5]/a')
his_info.click()
normal_delay = random.normalvariate(3, 0.5)
time.sleep(normal_delay)
period_select = driver.find_element_by_css_selector('#reportrange')
period_select.click()
normal_delay = random.normalvariate(3, 0.5)
time.sleep(normal_delay)
period = driver.find_element_by_css_selector('.ranges > ul:nth-child(1) > li:nth-child(4)')
period.click()
normal_delay = random.normalvariate(3, 0.5)
time.sleep(normal_delay)
bitcoin_record = extract_historical_data(driver)

In [32]:
bitcoin_record

,Date,Open,High,Low,Close,Volume,Market Cap
0,None,None,None,None,None,None,None
1,"Mar 26, 2018","8,498.47","8,530.08","7,921.43","8,209.40","5,921,040,000","143,960,000,000"
2,"Mar 25, 2018","8,612.81","8,682.01","8,449.10","8,495.78","4,569,880,000","145,882,000,000"
3,"Mar 24, 2018","8,901.95","8,996.18","8,665.70","8,668.12","5,664,600,000","150,762,000,000"
4,"Mar 23, 2018","8,736.25","8,879.62","8,360.62","8,879.62","5,954,120,000","147,941,000,000"
5,"Mar 22, 2018","8,939.44","9,100.71","8,564.90","8,728.47","5,530,390,000","151,366,000,000"
6,"Mar 21, 2018","8,937.48","9,177.37","8,846.33","8,929.28","6,043,130,000","151,316,000,000"
7,"Mar 20, 2018","8,619.67","9,051.02","8,389.89","8,913.47","6,361,790,000","145,922,000,000"
8,"Mar 19, 2018","8,344.12","8,675.87","8,182.40","8,630.65","6,729,110,000","141,240,000,000"
9,"Mar 18, 2018","7,890.52","8,245.51","7,397.99","8,223.68","6,639,190,000","133,547,000,000"
10,"Mar 17, 2018","8,321.91","8,346.53","7,812.82","7,916.88","4,426,150,000","140,834,000,000"
11,"Mar 16, 2018","8,322.91","8,585.15","8,005.31","8,338.35","5,289,380,000","140,834,000,000"
12,"Mar 15, 2018","8,290.76","8,428.35","7,783.05","8,300.86","6,834,430,000","140,275,000,000"
13,"Mar 14, 2018","9,214.65","9,355.85","8,068.59","8,269.81","6,438,230,000","155,891,000,000"
14,"Mar 13, 2018","9,173.04","9,470.38","8,958.19","9,194.85","5,991,140,000","155,168,000,000"
15,"Mar 12, 2018","9,602.93","9,937.50","8,956.43","9,205.12","6,457,400,000","162,421,000,000"
16,"Mar 11, 2018","8,852.78","9,711.89","8,607.12","9,578.63","6,296,370,000","149,716,000,000"
17,"Mar 10, 2018","9,350.59","9,531.32","8,828.47","8,866.00","5,386,320,000","158,119,000,000"
18,"Mar 09, 2018","9,414.69","9,466.35","8,513.03","9,337.55","8,704,190,000","159,185,000,000"
19,"Mar 08, 2018","9,951.44","10,147.40","9,335.87","9,395.01","7,186,090,000","168,241,000,000"
20,"Mar 07, 2018","10,803.90","10,929.50","9,692.12","9,965.57","8,797,910,000","182,631,000,000"
21,"Mar 06, 2018","11,500.10","11,500.10","10,694.30","10,779.90","6,832,170,000","194,378,000,000"
22,"Mar 05, 2018","11,532.40","11,704.10","11,443.90","11,573.30","6,468,540,000","194,903,000,000"
23,"Mar 04, 2018","11,497.40","11,512.60","11,136.10","11,512.60","6,084,150,000","194,289,000,000"
24,"Mar 03, 2018","11,101.90","11,528.20","11,002.40","11,489.70","6,690,570,000","187,581,000,000"
25,"Mar 02, 2018","10,977.40","11,189.00","10,850.10","11,086.40","7,620,590,000","185,456,000,000"
26,"Mar 01, 2018","10,385.00","11,052.30","10,352.70","10,951.00","7,317,280,000","175,427,000,000"
27,"Feb 28, 2018","10,687.20","11,089.80","10,393.10","10,397.90","6,936,190,000","180,510,000,000"
28,"Feb 27, 2018","10,393.90","10,878.50","10,246.10","10,725.60","6,966,180,000","175,536,000,000"
29,"Feb 26, 2018","9,669.43","10,475.00","9,501.73","10,366.70","7,287,690,000","163,283,000,000"
...,...,...,...,...,...,...,...
336,"Apr 25, 2017","1,250.45","1,267.58","1,249.97","1,265.49","242,556,000","20,372,300,000"
337,"Apr 24, 2017","1,209.63","1,250.94","1,209.63","1,250.15","235,806,000","19,705,400,000"
338,"Apr 23, 2017","1,231.92","1,232.20","1,203.94","1,207.21","258,951,000","20,066,200,000"
339,"Apr 22, 2017","1,222.71","1,235.56","1,208.47","1,231.71","249,320,000","19,913,900,000"
340,"Apr 21, 2017","1,229.42","1,235.94","1,215.56","1,222.05","272,167,000","20,020,700,000"
341,"Apr 20, 2017","1,211.08","1,240.79","1,208.41","1,229.08","315,108,000","19,719,900,000"
342,"Apr 19, 2017","1,212.13","1,215.51","1,205.08","1,210.29","288,061,000","19,734,800,000"
343,"Apr 18, 2017","1,193.77","1,217.57","1,193.77","1,211.67","270,524,000","19,433,800,000"
344,"Apr 17, 2017","1,183.25","1,194.90","1,172.65","1,193.91","253,206,000","19,260,500,000"
345,"Apr 16, 2017","1,172.61","1,187.22","1,172.61","1,182.94","183,231,000","19,085,100,000"
346,"Apr 15, 2017","1,167.30","1,188.00","1,164.96","1,172.52","203,559,000","18,996,500,000"
347,"Apr 14, 2017","1,170.33","1,190.80","1,159.79","1,167.54","254,827,000","19,043,800,000"
348,"Apr 13, 2017","1,201.02","1,205.89","1,156.44","1,169.28","351,969,000","19,541,300,000"
349,"Apr 12, 2017","1,204.81","1,207.14","1,196.76","1,200.37","288,702,000","19,600,800,000"
350,"Apr 11, 2017","1,187.46","1,208.07","1,187.46","1,205.01","216,182,000","19,316,000,000"
351,"Apr 10, 2017","1,187.30","1,190.34","1,179.04","1,187.13","215,883,000","19,311,200,000"
352,"Apr 09, 2017","1,176.57","1,197.21","1,171.86","1,187.87","242,343,000","19,134,400,000"
353,"Apr 08, 2017","1,172.65","1,184.98","1,162.58","1,175.95","209,312,000","19,068,600,000"
354,"Apr 07, 2017","1,178.94","1,186.58","1,163.39","1,176.90","317,022,000","19,168,500,000"
355,"Apr 06, 2017","1,125.81","1,188.37","1,125.81","1,182.68","511,222,000","18,302,600,000"
356,"Apr 05, 2017","1,134.14","1,135.09","1,113.63","1,124.78","414,784,000","18,435,700,000"
357,"Apr 04, 2017","1,145.52","1,156.44","1,120.52","1,133.25","436,310,000","18,619,000,000"
358,"Apr 03, 2017","1,102.95","1,151.74","1,102.95","1,143.81","580,444,000","17,924,600,000"
359,"Apr 02, 2017","1,080.61","1,107.59","1,075.45","1,102.17","514,187,000","17,559,400,000"
360,"Apr 01, 2017","1,071.71","1,091.72","1,061.09","1,080.50","289,634,000","17,413,000,000"
361,"Mar 31, 2017","1,026.64","1,074.92","1,026.64","1,071.79","447,287,000","16,679,000,000"
362,"Mar 30, 2017","1,042.21","1,049.29","1,020.04","1,026.43","352,969,000","16,929,800,000"
363,"Mar 29, 2017","1,046.08","1,055.13","1,015.88","1,039.97","298,458,000","16,990,900,000"
364,"Mar 28, 2017","1,044.58","1,064.65","1,027.73","1,047.15","326,332,000","16,964,500,000"
365,"Mar 27, 2017",972.06,"1,046.40",971.98,"1,045.77","372,535,000","15,785,000,000"